.example {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;

  &__heading {
    font-size: 36px;
    line-height: 36px;
    font-weight: normal;
  }

  &__text {
    font-family: "Arial", sans-serif;
    color: #444444;
  }
}
