.main-promo {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;

  &__slogan {
    display: flex;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
    text-transform: uppercase;
    align-self: center;
  }

  &__product {
    display: flex;
    box-sizing: border-box;
    align-self: center;
  }

  &__program-link {
    display: flex;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 18px;
  }

  &__programs {
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0;
    list-style: none;
  }
}
