.page-footer {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  background-color: #f2f2f2;

  &__invite-wrap {
    display: flex;
    box-sizing: border-box;
  }

  &__invitation {
    display: flex;
    box-sizing: border-box;
    width: 50%;
  }

  &__address {
    display: flex;
    box-sizing: border-box;
  }

  &__logo-link {
    margin-top: 7px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    padding: 31px 0;
    border-bottom: 1px solid #d9d9d9;
  }

  &__logo-image {
    display: flex;
    box-sizing: border-box;
  }
}
