.page-header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 320px;
  min-height: 65px;
  background-color: #ffffff;
  align-items: center;
}

.page-header__logo-link {
  margin-left: -85px;
  display: flex;
  min-height: 65px;
  min-width: 230px;
  justify-content: center;
  align-items: center;

  &[href]:hover {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

.page-header__nav--hide {
  display: none;
}

.page-header__menu-btn {
  position: absolute;
  top: 23px;
  right: 20px;
  width: 24px;
  height: 18px;
  background: url("../img/icon-mobile-menu.svg");
  border: none;
  font-size: 0;
  cursor: pointer;
}

.page-header__menu-btn--hide {
  display: none;
}

.page-header__logo-image {
  margin: 0;
}

@media (min-width: 768px) {
  .page-header {
    padding-top: 20px;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .page-header__logo-link {
    margin-left: 0;
  }

  .page-header__nav--hide {
    display: flex;
  }

  .page-header__menu-btn {
    display: none;
  }
}

@media (min-width: 1440px) {
  .page-header {
    padding-top: 40px;
  }

  .page-header__logo-link {
    margin-left: 110px;
    padding-right: 30px;
  }
}
