.page-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  align-items: center;
  box-sizing: border-box;
  background: #ffffff;
}

.page-main--index {
  background: url("../img/index-background-mobile@1x.jpg") 50% top no-repeat,
    linear-gradient(to bottom, #63a73a 150px, #ffffff 150px);
  background-size: 100%;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background: url("../img/index-background-mobile@2x.jpg") 50% top no-repeat,
      linear-gradient(to bottom, #63a73a 150px, #ffffff 150px);
    background-size: 100%;
  }
}

.page-main__heading {
  display: flex;
  box-sizing: border-box;
  padding-left: 20px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  align-self: flex-start;
}

.page-main__heading--index {
  padding-left: 0;
  color: white;
  align-self: center;
  text-align: center;
}

@media (min-width: 768px) {
  .page-main--index {
    background-color: #ffffff;
    background-image: none;
  }

  .page-main__heading {
    margin-top: 52px;
    margin-left: 30px;
    padding-left: 0;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

  .page-main__heading--index {
    margin-top: 54px;
    margin-left: 117px;
    margin-right: 117px;
    margin-bottom: 0;
    max-width: 450px;
    color: #111111;
    align-self: flex-start;
    text-align: left;
  }
}

@media (min-width: 1440px) {
  .page-main--index::before {
    position: absolute;
    content: "";
    z-index: 0;
    top: 0;
    right: 0;
    width: 50%;
    min-height: 696px;
    background: #6fb346 url("../img/index-background-desktop@1x.jpg") no-repeat;
    background-size: cover;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: #6fb346 url("../img/index-background-desktop@2x.jpg") no-repeat;
      background-size: cover;
    }
  }

  .page-main__heading {
    margin-top: 66px;
    margin-bottom: 24px;
    margin-left: calc(((100% - 1440px) / 2) + 110px);
    padding-left: 0;
  }

  .page-main__heading--index {
    margin-top: 100px;
    margin-left: calc(((100% - 1440px) / 2) + 190px);
    margin-bottom: 0;
  }
}
