.product-card {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  padding-right: 20px;
  padding-bottom: 24px;
  padding-left: 20px;
  box-sizing: border-box;
  flex-wrap: wrap;
  border-bottom: 1px solid #e6e6e6;
}

.product-card--more {
  position: relative;
  min-height: 210px;

  &::after {
    position: absolute;
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    top: 27px;
    left: calc(50% - 15px);
    background: url("../img/icon-plus-mobile.svg") no-repeat;
    opacity: 0.3;
  }
}

.product-card:nth-of-type(1) {
  border-top: 1px solid #e6e6e6;
}

.product-card__link {
  display: flex;
  padding: 0;
  text-decoration: none;
}

.product-card__link picture {
  height: 144px;
}

.product-card__link-image {
  margin: 0;
  height: 144px;
}

.product-card__info {
  min-width: 140px;
  width: 50%;
  min-height: 122px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}

.product-card__info--more {
  min-width: 220px;
  width: 100%;
  padding-top: 67px;
  padding-bottom: 20px;
  align-items: center;
}

.product-card__heading-link {
  display: flex;
  min-width: 80px;
  width: 70%;
  text-decoration: none;
}

.product-card__heading-link--more {
  min-width: 215px;
  width: 100%;
  justify-content: center;
}

.product-card__heading {
  margin-top: 0.75em;
  margin-bottom: 0.5em;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: #111111;
  text-transform: uppercase;
}

.product-card__heading--more {
  margin-bottom: 10px;
}

.product-card__text {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.product-card__table {
  min-width: 140px;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #444444;
  border: none;
}

.product-card__field {
  box-sizing: border-box;
  padding: 0;
  border: none;
  text-align: left;
}

.product-card__value {
  box-sizing: border-box;
  padding: 0;
  text-align: right;
  border: none;
}

.product-card__btn {
  display: flex;
  box-sizing: border-box;
  align-self: center;
}

@media (min-width: 768px) {
  .product-card {
    margin-top: 30px;
    margin-bottom: 13px;
    margin-left: 30px;
    margin-right: 30px;
    width: 324px;
    min-height: 528px;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 0;
    padding-top: 14px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    border: none;
    background: linear-gradient(to top, #f2f2f2 431px, transparent 431px);
  }

  .product-card--more {
    margin-top: 125px;
    min-height: 20px;
    padding-top: 55px;
    padding-bottom: 40px;
    background: none;
    border: 1px solid #e6e6e6;

    &::after {
      width: 60px;
      height: 60px;
      top: 55px;
      left: calc(50% - 30px);
      background: url("../img/icon-plus.svg") no-repeat;
    }
  }

  .product-card:nth-of-type(1) {
    border: none;
  }

  .product-card__link {
    min-height: 208px;
    height: 1px; // for IE11 align-items implementation
    align-items: flex-end;
    justify-content: flex-end;
  }

  .product-card__link picture {
    min-height: 208px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .product-card__link-image {
    width: 100%;
    height: auto;
  }

  .product-card__info {
    margin-top: 22px;
    margin-bottom: 32px;
    width: 100%;
    min-height: 155px;
    align-items: center;
  }

  .product-card__info--more {
    margin-bottom: 68px;
  }

  .product-card__heading-link {
    width: 135px;
    justify-content: center;
  }

  .product-card__heading {
    font-size: 20px;
    text-align: center;
  }

  .product-card__heading--more {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
    width: 135px;
  }

  .product-card__text {
    margin-left: 40px;
    margin-right: 40px;
    max-width: 60%;
    font-size: 16px;
    text-align: center;
  }

  .product-card__table {
    margin-top: 10px;
    min-width: 250px;
    border-collapse: collapse;
    font-size: 16px;
  }

  .product-card__field {
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #cdcdcd;
  }

  .product-card__value {
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #cdcdcd;
  }

  .product-card__btn {
    width: 249px;
    min-height: 40px;
  }
}

@media (min-width: 1440px) {
  .product-card {
    width: 245px;
    min-height: 513px;
    margin-top: 61px;
    margin-bottom: 0;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .product-card--more {
    margin-top: 141px;
    min-height: 432px;
    padding-top: 55px;
    padding-bottom: 39px;
  }

  .product-card__link-image {
    margin-bottom: 0;
  }

  .product-card__info {
    margin-top: 0;
    margin-bottom: 32px;
  }

  .product-card__heading {
    margin-top: 36px;
  }

  .product-card__text {
    margin: 0;
    margin-bottom: 0;
    width: 80%;
    max-width: 80%;
  }

  .product-card__info--more {
    margin-bottom: 70px;
    min-width: 170px;
    width: 100%;
    padding-top: 74px;
  }

  .product-card__heading-link--more {
    min-width: 170px;
  }

  .product-card__table {
    min-width: 170px;
  }

  .product-card__btn {
    width: 170px;
  }
}
