html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  max-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  color: #111111;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

@media (min-width: 768px) {
  body {
    min-width: 768px;
  }
} //for IE11

@media (min-width: 1300px) {
  body {
    min-width: 1300px;
  }
}   //for IE11
